@model Realtors.Models.RoomModel
@{
    Layout = "../Shared/_Layout.cshtml";
}
@functions
{
    string RoomsString(long? count)
    {
        if (count == null) return "нет комнат";
        if (count == 1) return "комнат";
        else return "комнаты";
    }
}
@section SectionContent
{
    @if (@Model != null)
    {

        <section class="calc_sec">
            <br>
            <section class="main_prod_sec">
                <div class="container">
                    <div class="img_wrap">
                        <div>
                            <img src="@Model.Image[0]" alt="@Model.Name">
                        </div>
                    </div>
                    <div class="main_prod_text">
                        <h1>@Model.Name</h1>
                        <div class="price novostroyki">
                            @Model.Price
                            <span class="rub">
                                <svg viewBox="0 0 277.97 362.8"><path d="M267.68 55.64C261.82 40.5 253.27 31.51 244.21 23S219.07 6.38 205.74 3.55C196.11 1.09 182 0 163.87 0H23v168.07H0v37.67h23V221H0v37.7h23v104.1h40.39V258.7H208V221H63.39v-15.26h103.67c38.9 0 66.79-10.87 84.18-32 16.59-20.21 26.73-37.89 26.73-68.9 0-18-5-34.48-10.36-49.26zm-53 95.19c-10.14 11.59-23.54 17.24-47 17.24H63.46V38.61h103.38c16.52 0 28 1.09 33.83 3.19 9.71 6.16 17.31 10.94 23 21.44 5.87 10.94 8.77 23.91 8.77 38.69a74.49 74.49 0 0 1-17.82 48.9z"></path></svg>
                            </span>
                        </div>
                        <ul class="main_prod_disc">
                            <li>
                                @Model.CountRooms @Html.Raw(@RoomsString(@Model.CountRooms)),
                            </li>
                            <li>
                                <span class="loc_small_ico"></span>
                                @Model.AddressArea, @Model.Address
                            </li>
                            <li>
                                <dl class="prod_info">
                                    <dt>Площадь:</dt>
                                    <dd>@Model.FooterMeters м<sup>2</sup></dd>
                                    <dd>
                                        @Model.FooterNumber этаж
                                    </dd>
                                </dl>
                            </li>
                        </ul>
                        <span class="main_time_work">
                            пн-пт с 9:00 до 20:00, сб с 10:00 до 18:00
                        </span>
                        <div class="btn_hold">
                            <a class="btn quest send-request-button" href="#" style="border: 1px solid #2da9e9;">Задать вопрос специалисту</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="prod_discrip">
                <div class="container">
                    <div class="tabs2 ui-tabs ui-corner-all ui-widget ui-widget-content">
                        <ul class="tab-hold ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header" role="tablist">
                            <li role="tab" tabindex="0" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab @if (@Model.TabNumber == 1)
                                                                                                                 {@Html.Raw(" ui-tabs-active ui-state-active")
                                                                                                                 }" aria-controls="tabs2-1" aria-labelledby="ui-id-1" aria-selected="true" aria-expanded="true">
                                <a href="@Url.Action("RoomOneView", "Room", new RouteValueDictionary(new {idRoom = @Model.Id, tabNumber = 1}))" role="presentation" tabindex="-1" class="ui-tabs-anchor" id="ui-id-1">Параметры</a>
                            </li>
                            <li role="tab" tabindex="-1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab @if (@Model.TabNumber == 2)
                                                                                                                  {@Html.Raw(" ui-tabs-active ui-state-active")
                                                                                                                  }" aria-controls="tabs2-2" aria-labelledby="ui-id-2" aria-selected="false" aria-expanded="false">
                                <a href="@Url.Action("RoomOneView", "Room", new RouteValueDictionary(new {idRoom = @Model.Id, tabNumber = 2}))" role="presentation" tabindex="-1" class="ui-tabs-anchor" id="ui-id-2">Описание</a>
                            </li>
                        </ul>
                        @if (@Model.TabNumber == 1)
                        {
                            <div class="tabs_blk ui-tabs-panel ui-corner-bottom ui-widget-content" id="tabs2-1" aria-labelledby="ui-id-1" role="tabpanel" aria-hidden="false">
                                <div class="table_hold">
                                    <table>
                                        <tbody>
                                        <tr>
                                            <td>Цена</td>
                                            <td>@Model.Price</td>
                                        </tr>
                                        <tr>
                                            <td>Район</td>
                                            <td>@Model.AddressArea</td>
                                        </tr>
                                        <tr>
                                            <td>Адрес</td>
                                            <td>@Model.Address</td>
                                        </tr>
                                        <tr>
                                            <td>Площадь</td>
                                            <td>@Model.FooterMeters</td>
                                        </tr>
                                        <tr>
                                            <td>Этажность</td>
                                            <td>@Model.FooterCountHome</td>
                                        </tr>
                                        <tr>
                                            <td>Кол-во комнат</td>
                                            <td>@Model.CountRooms</td>
                                        </tr>
                                        <tr>
                                            <td>Этаж</td>
                                            <td>@Model.FooterNumber</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                        @if (@Model.TabNumber == 2)
                        {
                            <div>
                                <textarea id="textDescription" style="width: 100%;min-height: 150px;border-radius: 15px;border: 1px solid #2da9e9;color: black;font-size: 16px;padding: 20px">@Model.Description.Trim()</textarea>
                            </div>
                        }
                    </div>
                </div>
            </section>
        </section>
    }
    <script>
        autosize($('#textDescription'));
    </script>
}

@section SectionHead
{}
